<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¡Bienvenido, $firstName!</title>
</head>
<body>
    <p>
        Hola $firstName,
    </p>
    <p>
        Debido a que eres representante de asignatura,
        formas parte del <a href="https://www.uma.es/etsi-informatica/info/126304/consejo-de-estudiantes/" target="_blank">Consejo de Estudiantes de la ETSII</a>.
    </p>
    <p>
        ¡Bienvenid@! :)
    </p>

    <p>
        A todos los miembros del consejo se le crea una cuenta en nuestro servidor.
    </p>

    <ul>
        <li>Nombre de usuario: $username</li>
        <li>Correo electrónico: $email</li>
        <li>Contraseña: $password</li>
    </ul>

    <p>¡Un saludo!</p>
</body>
</html>
